/* header  */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  max-width: 1280px;
  width: 100%;
  padding: 1.7rem 4rem;
}

.header .title img {
  width: 10rem;
  height: 3rem;
}

.header .official-link img {
  width: 2.8rem;
  height: 2.8rem;
}

.header .official-link img {
  width: 100%;
}

/* .header */

/* main */
.main {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 1px solid var(--borderColor);
}

.main .info-tit {
  margin: 6rem auto 4rem;
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 4.4rem;
  text-align: center;
}

/* search container */
.main .search-cont {
  display: flex;
  align-items: center;
  width: min(50rem, Calc(100% - 2rem));
  position: relative;
  margin: 0 auto 4rem;
}

.search-cont .search-inp {
  width: 100%;
  padding: 1.5rem 2rem;
  border-radius: 1.6rem;
  border: none;
  background-color: var(--bgColor);
}
.search-inp:not(:placeholder-shown):focus + .btn-cont .reset-btn {
  display: block;
}
.search-inp:not(:placeholder-shown):hover + .btn-cont .reset-btn {
  display: block;
}

.search-cont .btn-cont {
  position: absolute;
  padding: 1.3rem 2rem;
  right: 0;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.btn-cont button {
  padding: 0;
  margin: 0;
}
.btn-cont .reset-btn {
  width: 2.4rem;
  height: 2.4rem;
  background-color: var(--borderColor);
  border-radius: 50%;
  display: none;
}
.btn-cont .reset-btn img {
  width: 2rem;
  height: 2rem;
  display: block;
  margin: auto;
}

/* category navigation */
.main .category-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-wrap: wrap;
}

.category-nav .category-btn {
  padding: 1rem 1.6rem;
  border-radius: 5rem;
  font-size: 1.4rem;
  line-height: 2rem;
  font-weight: 500;
  border: 1px solid var(--borderColor);
  cursor: pointer;
}

.category-nav input[type="radio"]:checked + label {
  background-color: var(--mainColor);
  color: white;
  border: none;
}

/* content container */
.main .content-cont {
  margin: 4rem auto 10rem;
  width: min(1200px, Calc(100% - 4rem));
}

.content-cont .content-list {
  width: fit-content;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5rem;
  margin: auto;
}

.content-cont .content-item {
  /* width: 38rem; */
  height: 40rem;
  overflow: hidden;
  border-radius: 2rem;
  box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.1);
}

.content-item .thumbnail {
  width: 100%;
  height: 20rem;
  object-fit: cover;
  margin-bottom: 0;
  display: block;
}

.content-item .info-cont {
  padding: 2.8rem;
  display: flex;
  flex-direction: column;
  line-height: 2rem;
  font-size: 1.4rem;
}

.info-cont .tit {
  font-size: 2.4rem;
  margin: 1.6rem 0;
  font-weight: 600;
  line-height: 3.2rem;
  display: block;
}

.info-cont .descript {
  text-align: left;
  font-weight: 500;
  color: var(--fontGray);
}

.info-cont .addition-cont {
  position: relative;
  display: flex;
  align-items: center;
  gap: 8px;
  order: -1;
}
.info-cont .addition-cont .category {
  padding: 1rem 1.6rem;
  width: fit-content;
  background-color: var(--bgLightBlue);
  border-radius: 5rem;
}

.info-cont .addition-cont .link {
  border: 1px solid red;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  border: 1px solid var(--borderColor);
  display: flex;
  align-items: center;
  justify-content: center;
}
.info-cont .link img {
  width: 2rem;
  height: 2rem;
}

.content-cont .msg-content {
  margin: 4rem auto;
  text-align: center;
}

.main .top-btn {
  width: 5rem;
  height: 5rem;
  background-color: var(--borderColor);
  border-radius: 50%;
  position: fixed;
  bottom: 2.4rem;
  right: 2.4rem;
  cursor: pointer;
}

/* .main */

/* footer */
.footer {
  text-align: center;
  margin: auto;
  max-width: 1280px;
  width: Calc(100% - 6rem);
  padding: 6rem 0;
  border-top: 1px solid var(--borderColor);
}

.footer small {
  color: var(--fontLightGray);
  font-size: 1.4rem;
  line-height: 2rem;
  font-weight: 500;
}

/* .footer */

/* media */
@media (max-width: 1025px) {
  .main .category-nav {
    width: Calc(100% - 28rem);
  }
  .content-cont .content-list {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 834px) {
  .main .content-cont {
    margin: 4rem auto 8rem;
  }

  .footer {
    width: Calc(100% - 4rem);
  }
}
@media (max-width: 540px) {
  .header {
    padding: 1.2rem 2rem;
  }

  .header .title img {
    width: 9rem;
    height: 2.5rem;
  }

  .main .info-tit {
    margin: 4rem auto 3.2rem;
    font-size: 2.4rem;
    line-height: 3.2rem;
  }

  .main .search-cont {
    margin: 0 auto 3.6rem;
  }

  .main .category-nav {
    width: Calc(100% - 5.5rem);
  }

  .main .content-cont {
    margin: 2rem auto 6rem;
  }

  .content-cont .content-list {
    grid-template-columns: repeat(1, 1fr);
  }

  .content-cont .content-item {
    /* width: 35rem; */
  }

  .footer {
    width: Calc(100% - 2rem);
    padding: 4rem 0;
  }
}

/* .media */
